<div class="left-side-bar">
	<h1>Welcome</h1>
    <h3><%- UserName %></h3>
    <% if(Type == "teacher" && Page != "CreateAssignment") { %>
    	<a style="color: #fff" href="/CreateAssignment">Create Assignment</a>
    <% } %>
</div>
